<div fxLayout="row" fxLayoutAlign="center center" class="mt-1">
    <mat-card fxFlex="90">
        <mat-stepper linear #stepper>
            <mat-step [stepControl]="vetForm">
              <form [formGroup]="vetForm">
                <ng-template matStepLabel>Datos de la veterinaria</ng-template>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name">
                    <mat-error>Campo Requerido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>RUC</mat-label>
                    <input matInput formControlName="ruc">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="address">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="phone">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Avatar</mat-label>
                    <input matInput formControlName="avatar">
                  </mat-form-field>
                  <div>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="userForm" label="Datos de la cuenta principal">
              <form [formGroup]="userForm">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                    <mat-error>Campo Requerido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error>Email inválido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password">
                    <mat-error>Campo Requerido</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Avatar</mat-label>
                    <input matInput formControlName="avatar">
                  </mat-form-field>
                  <div>
                  <button mat-button matStepperPrevious>Anterior</button>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Completo</ng-template>
              <p>Formulario completo.</p>
              <div>
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button (click)="stepper.reset()">Reiniciar</button>
              </div>
            </mat-step>
          </mat-stepper>
    </mat-card>
</div>
