// @use '@angular/material' as mat;
// @include mat.core();
// @import '~@angular/material/theming';


.table {
    width: 100%;
}

.drawer-container {
    height: calc(100% - 114px);
    width: 100%;
}
.side-drawer {
    width: 325px;
    max-width: 90%;
    // background-color: mat.get-color-from-palette($my-pets-primary, lighter) !important;
}

.is-active {
    background-color: red;
}

.action-card {
    width: 130px;
    height: 130px;
    padding: 0;
}
.action-card div {
    height: 100%;
}
