.drawer-container {
    height: calc(100% - 114px);
    width: 100%;
}
.side-drawer {
    width: 325px;
    max-width: 90%;
    // background-color: mat.get-color-from-palette($my-pets-primary, lighter) !important;
}
