<mat-drawer-container class="drawer-container">
  <mat-drawer #profileDrawer mode="side" opened class="side-drawer">
    <div class="pb-2">
      <div fxLayoutAlign="end">
        <button mat-icon-button (click)="profileDrawer.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h1 style="text-align: center;">{{pet?.name}}</h1>
      <mat-list>
        <mat-list-item>Especie: {{pet?.species || 'N/A'}} </mat-list-item>
        <mat-list-item>Raza: {{pet?.race || 'N/A'}} </mat-list-item>
        <mat-list-item>Sexo: {{pet && getPetSex(pet.sex)}} </mat-list-item>
        <mat-list-item>Color: {{pet?.color || 'N/A'}} </mat-list-item>
        <mat-list-item>Edad: {{getAgeToString(getAge(pet?.birthday)) || 'N/A'}} </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <h2 class="mt-1" style="text-align: center;">Dueño</h2>
      <mat-list>
        <mat-list-item>Nombre: {{customer?.name || 'N/A'}} </mat-list-item>
        <mat-list-item>CI: {{customer?.ci || 'N/A'}} </mat-list-item>
        <mat-list-item>Teléfono: {{customer?.phone || 'N/A'}} </mat-list-item>
        <mat-list-item>Dirección: {{customer?.address || 'N/A'}} </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>

  <div>
    <button mat-button (click)="profileDrawer.toggle()" *ngIf="!profileDrawer.opened">
      <mat-icon>menu</mat-icon>
      Menú
    </button>
    <div class="content-90 pt-1 pb-2">
      <app-pet-actions></app-pet-actions>

      <h1>Próximas Citas</h1>
      <app-pet-pending-appts-table [pendingAppts]="pendingAppts"></app-pet-pending-appts-table>
    </div>
  </div>
</mat-drawer-container>
