.drawer-container {
    height: calc(100% - 114px);
    width: 100%;
}
.side-drawer {
    width: 325px;
    max-width: 90%;
}

.is-active {
    background-color: red;
}

.action-card {
    width: 130px;
    height: 130px;
    padding: 0;
}
.action-card div {
    height: 100%;
}
