<mat-drawer-container class="drawer-container">
  <mat-drawer #profileDrawer mode="side" opened class="side-drawer bg-alternate">
    <div fxLayoutAlign="end">
      <button mat-icon-button (click)="profileDrawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <h1 style="text-align: center;">{{customer?.name}}</h1>
    <mat-list>
      <mat-list-item>CI: {{customer?.ci || 'N/A'}} </mat-list-item>
      <mat-list-item>Teléfono: {{customer?.phone || 'N/A'}} </mat-list-item>
      <mat-list-item>Dirección: {{customer?.address || 'N/A'}} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Email: {{user?.data?.attributes?.email || 'N/A'}} </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary" style="margin-left: 12px;" (click)="onCustomerEdit()">
      Editar
    </button>
  </mat-drawer>
  <div>
    <button type="button" mat-button (click)="profileDrawer.toggle()" *ngIf="!profileDrawer.opened">
      <mat-icon>menu</mat-icon>
      Información Cliente
    </button>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" class="mt-1-5">
      <mat-card appMaterialElevation [canSelect]="true" class="card mb-1-5" (click)="addPet()">
        <div style="height: 100%; color: #3f51b5" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
          <div>
              <mat-icon class="icon-4x" color="primary">pets</mat-icon>
              <mat-icon class="add-icon">add</mat-icon>
          </div>
          <h1>Nueva mascota</h1>
        </div>
      </mat-card>
      <app-pets-card *ngFor="let pet of pets" [pet]="pet" (editPet)="editPet(pet)" (deletePet)="deletePet(pet)"
       class="mb-1-5"></app-pets-card>
    </div>
  
  </div>
</mat-drawer-container>