<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="controlForm" fxLayout="column">
    <div fxLayout="row wrap" fxLayoutGap.gt-md="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="date" formControlName="date" readonly>
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date disabled="false"></mat-datepicker>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Hora</mat-label>
        <input matInput [ngxTimepicker]="time" formControlName="time" #timeInput readonly>
        <ngx-material-timepicker [enableKeyboardInput]="true" #time></ngx-material-timepicker>
        <button mat-icon-button matSuffix (click)="timeInput.click()">
          <mat-icon>schedule</mat-icon>
        </button>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Empleado a cargo</mat-label>
        <mat-select formControlName="employees">
          <mat-option *ngFor="let emp of vetEmployees" [value]="emp.id">
            {{emp.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap.gt-md="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Peso</mat-label>
        <input type="number" matInput formControlName="weight">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Unidad</mat-label>
        <mat-select formControlName="weightUnit">
          <mat-option value="kg">kg</mat-option>
          <mat-option value="g">g</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap.gt-md="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Temperatura</mat-label>
        <input matInput type="number" formControlName="temperature">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Unidad</mat-label>
        <mat-select formControlName="temperatureUnit">
          <mat-option value="deg">deg</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="null">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!controlForm.valid" (click)="closeDialog()">
    Guardar
  </button>
</div>
