<div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>
      {{viewDate | calendarDate
          : view +"ViewTitle"
          : locale
      }}
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <button mat-raised-button color="primary" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view"
      (viewDateChange)="viewDateChange.next(viewDate)">
      Anterior
    </button>
    <button mat-raised-button color="primary" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view"
      (viewDateChange)="viewDateChange.next(viewDate)">
      Siguiente
    </button>
  </div>
  <mwl-calendar-month-view [openDayEventsTemplate]="template" [viewDate]="viewDate" [locale]="locale" [events]="apptsEvents" 
  [refresh]="refreshCalendar" (dayClicked)="dayClicked($event.day)" [activeDayIsOpen]="activeDayIsOpen"
  (eventClicked)="onEventClicked($event.event)">
  </mwl-calendar-month-view>
  <ng-template #template 
    let-events="events"
    let-mwlEventClicked="eventClicked"
    let-isOpen="isOpen"
    let-trackByEventId="trackByEventId"
    let-validateDrag="validateDrag"
  >
    <div class="bg-light-gray open-day-events" *ngIf="isOpen" role="application">
      <div>
        <div *ngFor="let event of events; trackBy: trackByEventId">
          <button mat-button (click)="mwlEventClicked.emit({event, sourceEvent: $event})">{{event.title}}</button>
        </div>
        <div *ngIf="events.length === 0">No hay eventos</div>
      </div>
      <button mat-raised-button color="primary" *ngIf="canAddApptInDay"
      class="mt-1">
        <mat-icon>add</mat-icon>
        Nueva Cita
      </button>
    </div>
  </ng-template>

</div>
