<div class="light-gray-bg">
  <div class="pt-content">
    <div class="mt-1-5" fxLayout="row wrap" fxLayoutAlign="space-evenly">
      <mat-card class="card mb-1-5" *ngFor="let card of cards" [routerLink]="[card.link]"
      appMaterialElevation [canSelect]="true">
      <div fxLayout="column" style="height: 100%;">
        <div fxLayoutAlign="center center" fxFlex="30" [style.background-color]="card.bgColor">
          <mat-card-title [style.color]="card.color" style="text-align: center;">
            {{ card.title }}
          </mat-card-title>
        </div>
        <div fxFlex fxLayoutAlign="center center">
          <mat-icon class="icon" [style.color]="card.color">
            {{ card.icon }}
          </mat-icon>
        </div>
      </div>
    </mat-card>
  </div>
</div>
</div>


