<div class="light-gray-bg">
    <div class="pt-content">
      <div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap.gt-md="5%">
        <mat-card appMaterialElevation [canSelect]="true" routerLink="../vet"
          fxFlex.gt-md="20" fxFlex.lt-md="60">
          <mat-card-header fxLayoutAlign="center">
            <mat-card-title>Veterinaria</mat-card-title>
          </mat-card-header>
          <img mat-card-image 
          src="https://thumbs.dreamstime.com/b/stethoscope-animal-icon-vector-design-vet-clinic-logo-template-pet-care-veterinary-logo-stethoscope-animal-icon-vector-165562620.jpg"
          >
        </mat-card>
        <mat-card appMaterialElevation [canSelect]="true" routerLink="../owner"
          fxFlex.gt-md="20" fxFlex.lt-md="60">
          <mat-card-header fxLayoutAlign="center">
            <mat-card-title>Dueño de Mascota</mat-card-title>
          </mat-card-header>
          <img mat-card-image 
          src="https://i.pinimg.com/originals/af/fb/c9/affbc96be98edecba473e0e630069b3b.png"
          >
        </mat-card>
      </div>
    </div>
  </div>
  