
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$my-pets-primary: mat.define-palette(mat.$indigo-palette);
$my-pets-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// $my-pets-primary: mat.define-palette(mat.$blue-palette, A700);
// $my-pets-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$my-pets-warn: mat.define-palette(mat.$red-palette, A400);

// The warn palette is optional (defaults to red).
// $my-pets-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-pets-theme: mat.define-light-theme((
  color: (
    primary: $my-pets-primary,
    accent: $my-pets-accent,
    warn: $my-pets-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($my-pets-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.toolbar {
  position: fixed;
  z-index: 100;
}

.pt-content {
  padding-top: calc(70px + 1.5em);
}

.content-90 {
  box-sizing: border-box;
  max-width: 90%;
  margin: auto;
}

.mt-1 {
  margin-top: 1rem !important;
}

.light-gray-bg {
  background-color: #e2e2e2;
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.mb-1-5 {
  margin-bottom: 1.5rem !important;
}

.width-100 {
  width: 100%;
}
