<mat-drawer-container>
  <mat-drawer class="side-drawer px-1" opened mode="side">
    <div class="pt-1" fxLayout="column" fxLayoutAlign="space-around">
      <mat-card class="card mb-1-5" *ngFor="let card of cards" appMaterialElevation [canSelect]="true">
        <div fxLayout="column" fxLayoutAlign="center center" [style.background-color]="card.bgColor"
          [style.color]="card.color">
          <mat-icon class="icon-2x mt-1 mb-1">{{card.icon}}</mat-icon>
          <h4 class="text-center">{{card.title}}</h4>
        </div>
      </mat-card>
    </div>
  </mat-drawer>
  <div class="content-90 mt-1 pb-2">
    <h1 class="mb-2">Citas para hoy</h1>
    <mwl-calendar-day-view [dayStartHour]="7" [dayEndHour]="20" [events]="todaysEvents" (eventClicked)="onEventClicked($event.event)"></mwl-calendar-day-view>
  </div>
</mat-drawer-container>
