<div class="pt-1" fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card class="card mb-1-5" *ngFor="let card of cards" 
    appMaterialElevation [canSelect]="true">
        <div fxLayout="column" style="height: 100%;">
            <div fxLayoutAlign="center center" fxFlex="30" [style.background-color]="card.bgColor">
                <mat-card-title [style.color]="card.color" style="text-align: center;">
                    {{ card.title }}
                </mat-card-title>
            </div>
            <div fxFlex fxLayoutAlign="center center">
                <mat-icon class="icon-4x" [style.color]="card.color">
                    {{ card.icon }}
                </mat-icon>
            </div>
        </div>
    </mat-card>
</div>

<div class="content-90 mt-1 pb-2">
    <mwl-calendar-day-view [dayStartHour]="7" [dayEndHour]="20"
    [events]="todaysEvents"></mwl-calendar-day-view>
</div>

