<mat-toolbar color="primary" class="">
  <mat-toolbar-row color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div name="title">
      <a mat-button routerLink="dashboard" (click)="activeUrl = 'dashboard'">
        <h1>{{currentEmployee?.data?.[0]?.attributes?.name}} <small>| My Pets</small></h1>
      </a>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-mini-fab color="" matBadge="1" matBadgeColor="accent">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-mini-fab [mat-menu-trigger-for]="profileMenu" color="" class="profileBtn">
        {{currentEmployee?.data?.[0]?.attributes?.name?.[0] || 'V'}}
      </button>
      <mat-menu #profileMenu>
        <a mat-menu-item>Perfil</a>
        <button mat-menu-item (click)="onLogout()">Cerrar Sesión</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link [routerLink]="link.url" *ngFor="let link of links" (click)="activeUrl = link.url"
    [active]="activeUrl == link.url">
    <mat-icon style="margin-right: 8px;">{{link.icon}}</mat-icon>
    {{link.name}}
  </a>
</nav>

<router-outlet></router-outlet>
