<h1 mat-dialog-title>{{data.title}}</h1>
<div>
  <form [formGroup]="apptForm" fxLayout="column">
    <div fxLayout="row wrap" fxLayoutGap.gt-md="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="date" formControlName="date" readonly>
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date disabled="false"></mat-datepicker>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Hora</mat-label>
        <input matInput [ngxTimepicker]="time" formControlName="time" #timeInput readonly>
        <ngx-material-timepicker #time></ngx-material-timepicker>
        <button mat-icon-button matSuffix (click)="timeInput.click()">
          <mat-icon>schedule</mat-icon>
        </button>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-content>
      <div class="mb-1">
        <button mat-button (click)="showCalendar = !showCalendar">
          <mat-icon>{{showCalendar? 'expand_less' : 'expand_more'}}</mat-icon>
          {{showCalendar ? 'Ocultar' : 'Mostrar'}} calendario
        </button>
        <app-calendar *ngIf="showCalendar" (daySelected)="daySelected($event)"></app-calendar>
      </div>
      <div>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Empleado a cargo</mat-label>
          <mat-select formControlName="employees">
            <mat-option *ngFor="let emp of vetEmployees" [value]="emp.id">
              {{emp.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="null">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!apptForm.valid" (click)="closeDialog()">
    Guardar
  </button>
</div>
